body {
    background-image: url("logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(252, 212, 164);
    background-blend-mode: multiply;
}
#header {
    background-color: #1b1b1e;
    color: white;
}
#hero {
    font-size: 22px; 
    color: white;
}

#hero > h1 {
    font-size: 80px;
}